<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="husky_panda">
  <xacro:arg name="robot_namespace" default="husky" />
  <xacro:include filename="$(find fkie_husky_manipulation_simulation)/urdf/husky.urdf.xacro" />
  <xacro:include filename="$(find fkie_husky_manipulation_simulation)/urdf/utils.xacro" />
  <xacro:include filename="$(find fkie_husky_manipulation_simulation)/urdf/panda_gazebo.xacro" />

  <xacro:panda_arm arm_id="panda" connected_to="panda_mount_link"/>

  <joint name="panda_mount_joint" type="fixed">
    <origin xyz="0.389 0 0.23135" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="panda_mount_link" />
  </joint>

  <link name="panda_mount_link" />

  <xacro:gazebo-joint joint="panda_joint1" transmission="hardware_interface/EffortJointInterface" />
  <xacro:gazebo-joint joint="panda_joint2" transmission="hardware_interface/EffortJointInterface" />
  <xacro:gazebo-joint joint="panda_joint3" transmission="hardware_interface/EffortJointInterface" />
  <xacro:gazebo-joint joint="panda_joint4" transmission="hardware_interface/EffortJointInterface" />
  <xacro:gazebo-joint joint="panda_joint5" transmission="hardware_interface/EffortJointInterface" />
  <xacro:gazebo-joint joint="panda_joint6" transmission="hardware_interface/EffortJointInterface" />
  <xacro:gazebo-joint joint="panda_joint7" transmission="hardware_interface/EffortJointInterface" />

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>$(arg robot_namespace)</robotNamespace>
      <robotParam>$(arg robot_namespace)/robot_description</robotParam>
    </plugin>
  </gazebo>

  <!-- <gazebo>
    <plugin name="imu_controller" filename="libhector_gazebo_ros_imu.so">
      <robotNamespace>$(arg robot_namespace)</robotNamespace>
      <updateRate>50.0</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>imu/data</topicName>
      <accelDrift>0.005 0.005 0.005</accelDrift>
      <accelGaussianNoise>0.005 0.005 0.005</accelGaussianNoise>
      <rateDrift>0.005 0.005 0.005 </rateDrift>
      <rateGaussianNoise>0.005 0.005 0.005 </rateGaussianNoise>
      <headingDrift>0.005</headingDrift>
      <headingGaussianNoise>0.005</headingGaussianNoise>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="gps_controller" filename="libhector_gazebo_ros_gps.so">
      <robotNamespace>$(arg robot_namespace)</robotNamespace>
      <updateRate>40</updateRate>
      <bodyName>base_link</bodyName>
      <frameId>base_link</frameId>
      <topicName>navsat/fix</topicName>
      <velocityTopicName>navsat/vel</velocityTopicName>
      <referenceLatitude>49.9</referenceLatitude>
      <referenceLongitude>8.9</referenceLongitude>
      <referenceHeading>0</referenceHeading>
      <referenceAltitude>0</referenceAltitude>
      <drift>0.0001 0.0001 0.0001</drift>
    </plugin>
  </gazebo> -->

</robot>

