<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="husky_panda">
  <xacro:arg name="robot_namespace" default="husky" />
  <xacro:arg name="realsense_d435_enabled" default="true" />

  <xacro:include filename="$(find fkie_husky_manipulation_simulation)/urdf/husky.urdf.xacro" />
  <xacro:include filename="$(find fkie_husky_manipulation_simulation)/urdf/utils.xacro" />
  <xacro:include filename="$(find fkie_husky_manipulation_simulation)/urdf/panda_gazebo.xacro" />

  <xacro:panda_arm arm_id="panda" connected_to="panda_mount_link"/>

  <joint name="panda_mount_joint" type="fixed">
    <origin xyz="0.1 0.0 0.23135" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="panda_mount_link" />
  </joint>

  <link name="panda_mount_link" />

  <xacro:gazebo-joint joint="panda_joint1" transmission="hardware_interface/EffortJointInterface" />
  <xacro:gazebo-joint joint="panda_joint2" transmission="hardware_interface/EffortJointInterface" />
  <xacro:gazebo-joint joint="panda_joint3" transmission="hardware_interface/EffortJointInterface" />
  <xacro:gazebo-joint joint="panda_joint4" transmission="hardware_interface/EffortJointInterface" />
  <xacro:gazebo-joint joint="panda_joint5" transmission="hardware_interface/EffortJointInterface" />
  <xacro:gazebo-joint joint="panda_joint6" transmission="hardware_interface/EffortJointInterface" />
  <xacro:gazebo-joint joint="panda_joint7" transmission="hardware_interface/EffortJointInterface" />

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>$(arg robot_namespace)</robotNamespace>
      <robotParam>$(arg robot_namespace)/robot_description</robotParam>
    </plugin>
  </gazebo>

  <!-- Laser properties -->
  <xacro:property name="laser_update_rate" value="10.0" />
  <xacro:property name="laser_max_range" value="30.0" />
  <xacro:property name="laser_samples" value="720" />

  <!-- add lasers -->
  <gazebo reference="laser_rear">
    <turnGravityOff>false</turnGravityOff>
    <sensor type="gpu_ray" name="laser_rear">
      <update_rate>${laser_update_rate}</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>${laser_samples}</samples>
            <resolution>1</resolution>
            <min_angle>${M_PI * 0.03}</min_angle>
            <max_angle>${M_PI * 0.97}</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.2</min>
          <max>${laser_max_range}</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_planar_lidar" filename="libgazebo_ros_gpu_laser.so">
        <topicName>laser_rear</topicName>
        <frameName>laser_rear</frameName>
        <robotNamespace>$(arg robot_namespace)</robotNamespace>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="laser_front">
    <turnGravityOff>false</turnGravityOff>
    <sensor type="gpu_ray" name="laser_front">
      <update_rate>${laser_update_rate}</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>${laser_samples}</samples>
            <resolution>1</resolution>
            <min_angle>${M_PI}</min_angle>
            <max_angle>${M_PI *2.0}</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.2</min>
          <max>${laser_max_range}</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_planar_lidar" filename="libgazebo_ros_gpu_laser.so">
        <topicName>laser_front</topicName>
        <frameName>laser_front</frameName>
        <robotNamespace>$(arg robot_namespace)</robotNamespace>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo>
    <enable_wind>false</enable_wind>
  </gazebo>

  <!-- D435: Realsense camera on panda_link8 -->
  <xacro:if value="$(arg realsense_d435_enabled)">
    <joint name="realsense_mount_joint" type="fixed">
      <parent link="panda_link8"/>
      <child link="realsense_mount_link"/>
      <!-- On the original robot the tilt is 10 degrees with a new mount -->
      <origin xyz="0.06 -0.008 0.0414" rpy="0 -0.17 0" />
    </joint>

    <link name="realsense_mount_link">
      <visual>
        <origin xyz="0.004 0 0.0055" rpy="0 0 0"/>
        <geometry>
          <box size="0.065 0.042 0.011"/>
        </geometry>
        <material name="red">
          <color rgba="1.0 0.0 0.0 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.004 0 0.0055" rpy="0 0 0"/>
        <geometry>
          <box size="0.065 0.042 0.011"/>
        </geometry>
      </collision>
    </link>

    <xacro:include filename="$(find fkie_realsense_description)/urdf/_d435.urdf.xacro" />
    <xacro:sensor_d435 name="realsense" parent="realsense_mount_link">
      <origin xyz="-0.01 -0.0115 0.012" rpy="0 0 0"/>
    </xacro:sensor_d435>
    <xacro:include filename="$(find fkie_realsense_description)/urdf/d435.gazebo.xacro"/>
    <xacro:d435_gazebo_extensions name="realsense">
    </xacro:d435_gazebo_extensions>

  </xacro:if>

</robot>