<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="husky_panda">
  <xacro:arg name="robot_namespace" default="husky" />
  <xacro:include filename="$(find fkie_husky_manipulation_simulation)/urdf/husky.urdf.xacro" />
  <xacro:include filename="$(find fkie_husky_manipulation_simulation)/urdf/utils.xacro" />
  <xacro:include filename="$(find fkie_husky_manipulation_simulation)/urdf/panda_gazebo.xacro" />

  <xacro:panda_arm arm_id="panda" connected_to="panda_mount_link"/>

  <joint name="panda_mount_joint" type="fixed">
    <origin xyz="0.1 0.0 0.23135" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="panda_mount_link" />
  </joint>

  <link name="panda_mount_link" />

  <xacro:gazebo-joint joint="panda_joint1" transmission="hardware_interface/EffortJointInterface" />
  <xacro:gazebo-joint joint="panda_joint2" transmission="hardware_interface/EffortJointInterface" />
  <xacro:gazebo-joint joint="panda_joint3" transmission="hardware_interface/EffortJointInterface" />
  <xacro:gazebo-joint joint="panda_joint4" transmission="hardware_interface/EffortJointInterface" />
  <xacro:gazebo-joint joint="panda_joint5" transmission="hardware_interface/EffortJointInterface" />
  <xacro:gazebo-joint joint="panda_joint6" transmission="hardware_interface/EffortJointInterface" />
  <xacro:gazebo-joint joint="panda_joint7" transmission="hardware_interface/EffortJointInterface" />

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>$(arg robot_namespace)</robotNamespace>
      <robotParam>$(arg robot_namespace)/robot_description</robotParam>
    </plugin>
  </gazebo>

  <!-- Laser properties -->
  <xacro:property name="laser_update_rate" value="10.0" />
  <xacro:property name="laser_max_range" value="30.0" />
  <xacro:property name="laser_samples" value="720" />

  <!-- add lasers -->
  <gazebo reference="laser_rear">
    <turnGravityOff>false</turnGravityOff>
    <sensor type="gpu_ray" name="laser_rear">
      <update_rate>${laser_update_rate}</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>${laser_samples}</samples>
            <resolution>1</resolution>
            <min_angle>${M_PI * 0.03}</min_angle>
            <max_angle>${M_PI * 0.97}</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.2</min>
          <max>${laser_max_range}</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_planar_lidar" filename="libgazebo_ros_gpu_laser.so">
        <topicName>laser_rear</topicName>
        <frameName>laser_rear</frameName>
        <robotNamespace>$(arg robot_namespace)</robotNamespace>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="laser_front">
    <turnGravityOff>false</turnGravityOff>
    <sensor type="gpu_ray" name="laser_front">
      <update_rate>${laser_update_rate}</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>${laser_samples}</samples>
            <resolution>1</resolution>
            <min_angle>${M_PI}</min_angle>
            <max_angle>${M_PI *2.0}</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.2</min>
          <max>${laser_max_range}</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_planar_lidar" filename="libgazebo_ros_gpu_laser.so">
        <topicName>laser_front</topicName>
        <frameName>laser_front</frameName>
        <robotNamespace>$(arg robot_namespace)</robotNamespace>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo>
    <enable_wind>false</enable_wind>
  </gazebo>

  <!-- <gazebo>
    <plugin name="imu_controller" filename="libhector_gazebo_ros_imu.so">
      <robotNamespace>$(arg robot_namespace)</robotNamespace>
      <updateRate>50.0</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>imu/data</topicName>
      <accelDrift>0.005 0.005 0.005</accelDrift>
      <accelGaussianNoise>0.005 0.005 0.005</accelGaussianNoise>
      <rateDrift>0.005 0.005 0.005 </rateDrift>
      <rateGaussianNoise>0.005 0.005 0.005 </rateGaussianNoise>
      <headingDrift>0.005</headingDrift>
      <headingGaussianNoise>0.005</headingGaussianNoise>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="gps_controller" filename="libhector_gazebo_ros_gps.so">
      <robotNamespace>$(arg robot_namespace)</robotNamespace>
      <updateRate>40</updateRate>
      <bodyName>base_link</bodyName>
      <frameId>base_link</frameId>
      <topicName>navsat/fix</topicName>
      <velocityTopicName>navsat/vel</velocityTopicName>
      <referenceLatitude>49.9</referenceLatitude>
      <referenceLongitude>8.9</referenceLongitude>
      <referenceHeading>0</referenceHeading>
      <referenceAltitude>0</referenceAltitude>
      <drift>0.0001 0.0001 0.0001</drift>
    </plugin>
  </gazebo> -->

</robot>